<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio WebSite : </title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="perspective  effect-rotate-left">

        <div class="container">
            <div class="outer-nav-return"></div>
            <div id="sidenav" class="sidebar sidebargo">
                <nav>
                    <ul>
                        <li><a href="./index.html">About</a></li>
                        <li><a href="./projects.html">Project</a></li>
                        <li><a href="/contact.html">Contact Me</a></li>
                    </ul>
                </nav>
            </div>
            <div class="main">
                <div class="icons">
                    <!-- <img class="more" src="" alt="" srcset=""> -->
                    <div class="more"><span></span></div>
                    <img class="cross" src="./img/cross.png" alt="" srcset="">
                </div>
                <div class="info-container">
                    <div class="maxwidth">
                        <div class="info">
                            <ul>
                                <div class="head">Hi everyone</div>
                                <div class="name">I`m Hitesh Kumar</div>
                            </ul>
                        </div>
                        <img src="./img/introduction-visual.png" alt="" class="image">
                    </div>
                </div>
            </div>
        </div>
        <ul class="outer-nav">
            <li class="li">
                Home</li>
            <li>Projects</li>
            <li>Skills</li>
            <li>Contact</li>
        </ul>
    </div>
    <script src="./js/index.js"></script>
    </body>

</html>