<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris_Prediction_model</title>
    <link rel="stylesheet" href="model.css">
</head>
<body>
    <div class="container">
        <div class="back">
            <button><a href="./projects.html">Back</a></button>
        </div>
        <div class="main">
            <div class="input">
                <div class="input-labels">

                    <label for="inputs">Input Features</label>
                    <input type="file" name="" id="" placeholder="Select a File">
                </div>
            </div>
            <div class="output input">
                <div class="output-label input-labels">

                    <label for="inputs">Output Label</label>
                    <input type="file" name="select a file" id="" placeholder="Select a File">
                </div>
            </div>
        </div>
        <div></div>
    </div>
</body>
</html>